<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GRID SAMPLE TEST" >
    <test name = "Sample test" parallel = "methods">
        <parameter name = "browserName" value="Chrome"/>
        <classes>
            <class name = "TestMain.TestNg" />
        </classes>
    </test>

</suite>